/* public/rotatingImageCarousel.css */

.carousel-container {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

@media (max-width: 1024px) {
  .carousel-container {
    width: 600px;
    height: 600px;
  }
}

.image-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  /* width: 80px; */
  height: auto; /* Preserve aspect ratio */
  border-radius: 8px;
}

.description {
  margin-top: 5px;
  font-size: 12px;
  width: 150px;
}

.description-small {
  margin-top: 5px;
  font-size: 8px;
  width: 100px;
}
