@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearFading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Create utility classes to use in your HTML */
.slide-in-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

.appear-fading {
  animation: appearFading 1s ease-in-out forwards;
}

.slide-in-top {
  animation: slideInFromTop 0.5s ease-in-out forwards;
}

.section {
  scroll-margin-top: 100px;
}
